.sort-wrapper {
  width: 100%;

  .sort-content {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .search-filter {
      position: relative;
      width: 100%;
      border-radius: 12px;
      background: linear-gradient(
        136.04deg,
        rgba(85, 150, 248, 0.16) 3.7%,
        rgba(36, 37, 45, 0.25) 120.81%
      );

      .Search-icon {
        position: absolute;
        right: 1rem;
        top: 0.6rem;
        cursor: pointer;
      }

      .sort-input {
        width: 100%;
        font-weight: 400;
        color: #ffffff;
        font-size: 14px;
        padding: 0.8rem;
        font-family: "Sora";
        background: transparent;
        border: none;
        outline: none;

        &::placeholder {
          color: #667085;
          opacity: 1; /* Firefox */
          font-size: 14px;
          font-weight: 400;
        }
      }

      .sort-filter-dropwown-wrapper {
        z-index: 99999999;
        width: 100%;
        background: rgba(20, 20, 75, 1.1);
        border-radius: 8px;
        // width: 100%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        top: 130%;
        left: 0%;
        cursor: pointer;
        max-height: 20rem;
        overflow: hidden;
        position: absolute;

        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;

        @keyframes growDown {
          0% {
            transform: scaleY(0);
          }
          80% {
            transform: scaleY(1.1);
          }
          100% {
            transform: scaleY(1);
          }
        }

        .sort-filter-dropwown-overflow-wrapper {
          height: 9.2rem;
          margin: 0.3rem;
          overflow: scroll;
          overflow-x: hidden;

          &.sort-filter-dropwown-overflow-wrapper::-webkit-scrollbar {
            width: 0.6rem;
          }

          .sort-filter-dropdown-filter-item {
            display: flex;
            padding: 0.4rem;
            font-weight: 400;
            line-height: 24px;
            color: white;
            font-size: 16px;

            &:hover {
              background: rgba(254, 200, 75, 1);
              border-radius: 8px;
              color: #000000;
              transition: all 250ms ease;
            }

            .dropdown-list {
              list-style: none;
            }

            .sort-filter-dropdown-list {
              list-style: none;
              &:hover {
                color: #000000;
              }
            }
          }

          .search-bar-loader-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
