.global-regions-wrapper {
  width: 100%;

  .global-regions-container {
    width: auto;
    margin: 1.3rem;
    // z-index: -99;
    height: 100%;
    // padding: 1.5rem;
    border: 4px solid rgba(180, 179, 222, 0.23);
    border-radius: 32px;
    position: relative;

    .global-bar {
      position: absolute;
      top: 18rem;
      // width: 5.169rem;
      // height: 14.461rem;
      z-index: 1;
      left: 30rem;
    }

    .globar-bar-text-wrapper {
      position: absolute;
      top: 20.5rem;
      z-index: 1;
      left: 30rem;
      text-align: center;
      width: 5.2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .globar-bar-text {
        font-weight: 400;
        font-size: 12px;
        // line-height: 20px;
        color: #ffffff;
      }

      .globar-bar-text-count {
        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #ffffff;
      }
    }

    .global-bar-two {
      position: absolute;
      top: 17rem;
      // width: 5.169rem;
      // height: 14.461rem;
      z-index: 1;
      right: 20rem;
    }

    .globar-bar-two-text-wrapper {
      position: absolute;
      top: 20.5rem;
      z-index: 1;
      right: 19.9rem;
      text-align: center;
      width: 5.2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .globar-bar-text {
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
      }

      .globar-bar-text-count {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }
    }

    .global-bar-three {
      position: absolute;
      top: 10rem;
      // width: 5.169rem;
      // height: 14.461rem;
      z-index: 1;
      right: 40rem;
    }

    .globar-bar-three-text-wrapper {
      position: absolute;
      top: 13.5rem;
      z-index: 1;
      right: 40.3rem;
      text-align: center;
      width: 4.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .globar-bar-text {
        font-weight: 400;
        font-size: 11px;
        color: #ffffff;
      }

      .globar-bar-text-count {
        font-weight: 700;
        font-size: 20px;
        padding-top: 0.5rem;
        line-height: 16px;
        color: #ffffff;
      }
    }

    .global-filter-wrapper {
      display: flex;
      gap: 0.5rem;
      margin-top: 1.5rem;

      .selection {
        display: flex;
        background: #191961 !important;
        border-radius: 0.5rem;
        height: 100%;

        .earth-icon {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          padding: 0.55rem;

          &:hover {
            background: #4251ff;
            border-radius: 0.25rem;
          }
        }

        .earth-icon-colored {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          padding: 0.55rem;
          background: #4251ff;
          border-radius: 0.25rem;
        }

        .earth-icon-btn {
          background: transparent;
          border: none;
          margin: 0;
          padding: 0;
          height: 0;
        }

        .Table-icon {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          padding: 0.55rem;

          &:hover {
            background: #4251ff;
            border-radius: 0.25rem;
          }
        }
        .Arrow-icon {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
          padding: 0.55rem;

          &:hover {
            background: #4251ff;
            border-radius: 0.25rem;
          }
        }
      }
    }

    .global-main-wrapper {
      width: 100%;
      height: 100%;

      .global-bg-image {
        // z-index: -99999999;
        // border: 4px solid rgba(180, 179, 222, 0.23);
        background: linear-gradient(
            90deg,
            #14144b 0%,
            rgba(8, 8, 30, 0.405919) 29.7%,
            rgba(0, 0, 0, 0) 50%
          ),
          linear-gradient(
            180deg,
            #14144b 0%,
            rgba(8, 8, 30, 0.405919) 26.15%,
            rgba(0, 0, 0, 0) 44.01%
          ),
          linear-gradient(0deg, rgba(20, 20, 75, 0.2), rgba(20, 20, 75, 0.2)),
          url(../../Images/istanbul-img.jpg);
        height: 35.5rem;
        border-radius: 30px;
        // margin-top: 1.8rem;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 2rem;

        .global-regions-btn-wrapper {
          display: flex;
          align-items: center;
          gap: 1.2rem;

          .global-regions-btn-colored {
            width: 100%;
            font-weight: 600;
            font-size: 16px;
            font-family: "Sora" !important;
            line-height: 24px;
            padding: 10px 14px;
            background: linear-gradient(
              144.98deg,
              #ffc500 12.82%,
              #ffc500 44.81%,
              #ffa800 80%
            );
            border: 1px solid #fedf89;
            box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
              0px 1px 2px rgba(16, 24, 40, 0.06);
            backdrop-filter: blur(4px);
            border-radius: 50px;
            cursor: pointer;
            color: #000000;
            transition: all 250ms ease;
          }

          .global-regions-btn {
            width: 100%;
            color: #ffffff;
            font-weight: 600;
            font-size: 16px;
            font-family: "Sora" !important;
            line-height: 24px;
            padding: 10px 14px;
            background: rgba(20, 20, 75, 0.6);
            border: 1px solid #fec84b;
            backdrop-filter: blur(4px);
            border-radius: 50px;
            cursor: pointer;

            &:hover {
              background: linear-gradient(
                144.98deg,
                #ffc500 12.82%,
                #ffc500 44.81%,
                #ffa800 80%
              );
              border: 1px solid #fedf89;
              box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
                0px 1px 2px rgba(16, 24, 40, 0.06);
              cursor: pointer;
              color: #000000;
              transition: all 250ms ease;
            }
          }
        }

        .globe-container-wrapper {
          position: absolute;
          display: flex;
          justify-content: space-around;
          // width: 100%;

          .globe-left {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 2rem;

            .range-btn {
              width: max-content;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              border: none;
              font-family: "Sora";
              padding: 1rem 2rem;
              text-align: center;
              color: #ffffff;
              background: #4251ff;
              backdrop-filter: blur(8px);
              border-radius: 50px;
            }

            .esg-heading-globe {
              font-weight: 700;
              font-size: 24px;
              width: 20rem;
              line-height: 32px;
              color: #ffffff;
            }

            .media {
              font-size: 16px;
              line-height: 20px;
              color: #ffffff;
              .interest {
                margin: 0;
                font-weight: 400;
              }
              .score {
                margin: 0;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
